*, *:after, *:before {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    position: relative;
}

body{
    margin:0;
    position: relative;
    background-image: url("../../assets/img/macVirus/google.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
}